<div id="nav">
	<nav>
		<ul>
			<a id="sign_in" href="https://itsc3155rubyprojects-agovor.c9users.io/">Home</a>
			<a id ="sign_in" href="/about/index">About Us</a>
			<a id ="sign_in" href="/team/index">Meet The Team</a>
			<a id ="sign_in" href="/what/index">FAQs</a>
			
			<%= link_to 'Posts', controller: 'posts'%>
				
		</ul>
	</nav>
</div>
<h1>FAQs</h1>
<div id="content"> 
<div id="main"> 
<article id="post-6497" class="post-6497 page type-page status-publish hentry"> 
<div class="post-header"> 

  <hr> <p>&nbsp;</p>
        <p><em><strong>Q: What does 404 Not Found mean?</strong></em></p> 
        <p>A: The '404 not found' is an error when a webpage that a person is trying to find could not be reached
        because of an error. Our group thought the error was funny and thought it was a unique name for a group,
        so that is the story of how we became the '404 Not Found' :) </p> 
        <p><em><strong>Q: What do you blog about?</strong></em></p> 
        <p>A: We blog about everything to giving tips, to informing 49ers of future events, to giving updates around the school, 
        and many more related to all 49ers!</p> 
        <p><em><strong>Q: I love your blog and I want more of The 704! What can I do?</strong></em></p> 
        <p>A: Hello, thanks for supporting our blog!! A few things you or anyone else who want to support the community is to post 
        relevant information or new information that could assist others.</p>
        <p><em><strong>Q: I submitted my post a few days ago, when will it be posted to the homepage?&nbsp;</strong></em></p>
        <p>A: Great! We’re accepting guest posts! It can be on anything that 17-22 year olds would enjoy reading! A lot of our audience are college students and we’d love to get beauty and fashion on our blog too! Send us your drafts/ideas (theghswirl@gmail.com)!</p> 
        </div> 
    <div class="post-meta main_post_meta"> 

    </aside> 
</div>

    </aside> 
</div>


<%= link_to 'Back Home', welcome_index_path %>