<header>
<h1>Welcome to the 704 Blog!</h1>

<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Log In</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
</header>

<h2>
<%= link_to 'Posts', controller: 'posts'%>
</h2>

<table>
    <tr>
        <img src="http://advancement.uncc.edu/sites/advancement.uncc.edu/files/media/athletics-200.fw.png"/>
    </tr>
</table>

<div id="features">
	<div class="wrapper">
		<ul>
			<li class="Daily Tips">
				<h4>Daily Tips</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum.</p>
			</li>
			<li class="New Feature">
				<h4>New Feature</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum.</p>
			</li>
			<li class="Update">
				<h4>Update</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum.</p>
			</li>
			<div class="clear"></div>
		</ul>
	</div>
</div>

<footer>
	<div class="wrapper">
		<div id="footer-info">
			<p>Copyright 2017 704 Blog. All rights reserved.</p>
			<p><a href="#">Terms of Service</a> <a href="#">Privacy</a></p>
		</div>
		<div id="footer-links">
			<ul>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Meet The Team</a></li>
				<li><a href="#">What We Do</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</footer>
