<h1>Welcome to the 704 Blog!</h1>
<%= link_to 'Posts', controller: 'posts'%>

<table>
    <tr>
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRHT34RpaujWV11CU1SUlnSViNpXvf0rDO13-6kms1ewqV8nBy1uasJZVbe"/>
    </tr>
</table>

<table>
    <tr>
        <h3>Daily Tips</h3>
    </tr>
    
    <tr>
        <h3>New Location</h3>
    </tr>
    <tr>
        <h3>New Location</h3>
    </tr>
    
    
    
</table>