<div id="nav">
	<nav>
		<ul>
			<a id="sign_in" href="https://itsc3155rubyprojects-agovor.c9users.io/">Home</a>
			
			<%= link_to 'Posts', controller: 'posts'%>
				
		</ul>
	</nav>
</div>

<header>
<div class="header">
	<center><img src="http://advancement.uncc.edu/sites/advancement.uncc.edu/files/media/athletics-200.fw.png" /> 
	<h1 class="title">Welcome to the 704 Blog! </h1>
	
</center>

</header>

</div>

<div id="features">
	<div class="wrapper">
		<ul>
			<li class="Daily Tip">
				<h4>Daily Tips</h4>
				<p>Get here early to find a parking space!</p>
			</li>
			
			<li class="New Feature">
				<h4>New Feature</h4>
				<p>STARBUCKS HAS UNICORN FRAPPUCCINOS!!!!!! GO TRY IT OUT!!!!!!</p>
			</li>
			
			<li class="Daiiy Tip">
				<h4>Daily Tips</h4>
				<p>Avoid Crown Commons. Go for better quality food.</p>
			</li>
			
			<li class="Update">
				<h4>Update</h4>
				<p>UPDATE! The 49er football team won against Pennstate by 18-4 </p>
			</li>
			
			<li class="Daily Tip">
				<h4>Daily Tips</h4>
				<p>Watch for "landmines" during goose season</p>
			</li>
			
			<li class="Update">
				<h4>Update</h4>
				<p>UPDATE! The university will be implementing a new parking system. 
				They will also be removing two parking lots. Specifically Lot 18 and 19. </p>
			</li>
			
			<li class="Daily Tip">
				<h4>Daily Tips</h4>
				<p>Always check for rent-a-puppy on Tuesday and Thursday</p>
			</li>
			
			<li class="Update">
				<h4>Update</h4>
				<p>UPDATE! Campus will be experiencing walnut sized hail and F5 tornadoes storms in the afternoon </p>
			</li>
			
			<li class="Daily Tip">
				<h4>Daily Tips</h4>
				<p>Beware of the frats</p>
			</li>
			
			<div class="clear"></div>
		</ul>
	</div>
</div>

<footer>
	<div class="wrapper">
		<div id="footer-info">
			<p>Copyright 2017 704 Blog. All rights reserved.</p>
			<p><a href="#">Terms of Service</a> <a href="#">Privacy</a></p>
		</div>
		<div id="footer-links">
			<ul>
				<li><a href="index.html.erb">About Us</a></li>
				<li><a href="#">Meet The Team</a></li>
				<li><a href="#">What We Do</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</footer>
