<div id="nav">
	<nav>
		<ul>
			<a id="sign_in" href="https://itsc3155rubyprojects-agovor.c9users.io/">Home</a>
			<a id ="sign_in" href="/about/index">About Us</a>
			<a id ="sign_in" href="/team/index">Meet The Team</a>
			<a id ="sign_in" href="/what/index">FAQs</a>
			
			<%= link_to 'Posts', controller: 'posts'%>
				
		</ul>
	</nav>
</div>
<h1>Meet the Team</h1><hr> <p>&nbsp;</p> </hr>
<div id="content"> 
<div id="main"> 
<article id="post-6497" class="post-6497 page type-page status-publish hentry"> 
<div class="post-header"> 
    <div class="post-share"> 
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://theswirlblog.com/about/"><i class="fa fa-facebook"></i></a> 
        <a target="_blank" href="https://twitter.com/home?status=Check%20out%20this%20article:%20About &amp; FAQ’s%20-%20http://theswirlblog.com/about/"><i class="fa fa-twitter"></i></a>
        <a class="btnPinIt" href="http://theswirlblog.com/about/" data-image="" data-desc="About &amp; FAQ’s"><i class="fa fa-pinterest"></i></a> 
        <a target="_blank" href="https://plus.google.com/share?url=http://theswirlblog.com/about/"><i class="fa fa-google-plus"></i></a> 
    </div> 
</div> 
    <div class="post-entry"> 
    <p><img class="team" src="https://www.prestashop.com/blog/en/files/2013/11/4041.jpg" 
    sizes="(max-width: 2000px) 100vw, 700px" width="1000" height="524"></p> 
    <p>Hello to all of you bloggers! We are a group based blogger named 404 Not Found. Here are some things you should know about us:</p> 
        <ul> 
            <li>We are innovative, intuitive and amateur bloggers! So we are kind of new at this! Haha. </li> 
            <li>Our group is composed of undergraduate CompSci students from the University of North Carolina at Charlotte.</li> 
            <li>Founded on the beginning of the Spring Semester of 2017.</li>
            <li>Brendon: "Hi, guys! I am currently a rising senior studying Software, Systems, and Networking with a minor in Chinese. I am aspiring to be a software developer as my future career.
            I am the first generation within my family to go to college. UNCC has been one of the best decisions that I have made in my life so far. Go 49ers!"</li> 
            <li>Carrie: "I am rising senior, studying Software Information Systems with a concentration in Cyber Security.
            I love my friends and family. I am so grateful for the opportunities UNCC has provided me. GO NINERS!"</li> 
            <li>Tin: "Hello everyone thanks for checking out the blog. I'm a senior at UNC Charlotte pursing my degree in Computer Science. My hobby is to program, blog, and hang out in Charlotte.
            I am glad I went to UNCC because I met so many friends and the community is Awesome!!</li> 
            <li>Davidson: "Yo what sup everyone. I'm also a Computer Science major. In my free time I like to catch reptiles. UNCC is a great school, being a 49er is the best feeling in the world!
            I've learned so many things and met people who helped me in classes when I needed help."</li> 
        </ul> 
 


<%= link_to 'Back Home', welcome_index_path %>