<div id="nav">
	<nav>
		<ul>
			<a id="sign_in" href="https://itsc3155rubyprojects-agovor.c9users.io/">Home</a>
			<a id ="sign_in" href="/about/index">About Us</a>
			<a id ="sign_in" href="/team/index">Meet The Team</a>
			<a id ="sign_in" href="/what/index">What We Do</a>
			
			<%= link_to 'Posts', controller: 'posts'%>
				
		</ul>
	</nav>
</div>
<h1>Meet the Team</h1>
<p>Find me in app/views/team/index.html.erb</p>


<%= link_to 'Back Home', welcome_index_path %>