<div id="nav">
	<nav>
		<ul>
			<a id="sign_in" href="https://itsc3155rubyprojects-agovor.c9users.io/">Home</a>
			<a id ="sign_in" href="/about/index">About Us</a>
			<a id ="sign_in" href="/team/index">Meet The Team</a>
			<a id ="sign_in" href="/what/index">FAQs</a>
			
			<%= link_to 'Posts', controller: 'posts'%>
				
		</ul>
	</nav>
</div>
<h1>About Us</h1><hr> <p>&nbsp;</p> </hr>
<div id="content"> 
<div id="main"> 
<article id="post-6497" class="post-6497 page type-page status-publish hentry"> 
<div class="post-header"> 
</div> 
    <div class="post-entry"> 
    <p><img class="about" src="http://www.uncc.edu/sites/www.uncc.edu/files/gallery/49erMiner-cropped.jpg" 
    sizes="(max-width: 2000px) 100vw, 700px" width="1000" height="524"></p> 
    <p>Hello viewers! Welcome to the 704 Blog! This blog contains about various news updates and random articles about the UNCC lifestyle and its community.
    Submit a post in the listing post page and as a group we will decide which posts best suit our blog and will be
    published onto our homepage. Our main focus is to provide bloggers with a sense of awarness of what's going on and how YOU can also 
    contribute to this blog!</p>
</div>

<%= link_to 'Back Home', welcome_index_path %>
