// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
    text-align: center;
}

input[type=text] {
    width: 40%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: white;
}

textarea {
    width: 95%;
    height: 225px;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: white;
    resize: none;
}

input[type=button], input[type=submit] {
    background-color: white;  
    float: right;
    border: none;
    color: green;
    padding: 16px 20px;
    text-decoration: none;
    cursor: pointer;
}
td {
    margin-right: 5px 20px;
    padding-left: 15px;
}