// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1
{
size: 32px;
color: #367500;
}

h3
{
    size: 22px;
    color: green;
}

body
{
    background: #e4ffdd;
}

img {
    position: relative;
    top: -110px;
    right: -410px

}

header {
	height: 120px;
}

header h1 {
	float: left;
	margin-top: 32px;
}


header nav {
	float: right;
}

header nav ul li {
	float: left;
	display: inline-block;
	margin-top: 30px;
}

header nav ul li a {
	color: black;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	margin-right: 20px;
}