// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1
{
size: 32px;
color: black;
}

h3
{
    size: 22px;
    color: #367500;
}

body
{
    background: #e4ffdd;
}

img {
    position: relative;
    top: -110px;
    right: -410px

}

header {
	height: 120px;
}

header h1 {
	float: left;
	margin-top: 32px;
}


header nav {
	float: right;
}

header nav ul li {
	float: left;
	display: inline-block;
	margin-top: 30px;
}

header nav ul li a {
	color: black;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	margin-right: 20px;
}

#features ul {
	margin: 80px 0;
}

#features ul li {
	display: block;
	color: black; 
	margin: 0 auto 20px auto;
	width: 400px;
	border-bottom: 1px solid black;
	padding: 0 0 20px 0;
}

#footer-info {
	width: 380px;
	float: left;
	margin-top: 10px;
}

#footer-links {
	width: 520px;
	float: right;
}

#footer-links ul {
	width: 150px;
	float: left;
	margin-left: 20px;
}

#footer-links ul li {
	margin: 10px 0;
}