// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1
{
size: 32px;
color: #367500;
}

body
{
    background: #e4ffdd;
}

input[type=text] {
    width: 50%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #FDFEFE;
}

textarea {
    width: 100%;
    height: 300px;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #FDFEFE;
    resize: none;
}
