// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1
{
size: 32px;
color: black;
text-align: center;
}

h3
{
    size: 22px;
    color: #367500;
    margin-bottom: -10px;
    padding-bottom: -10px;
}

h2{
	text-align: center;
	margin-right: 100px;
}

#comments h2 {
	text-align: left;
}

body
{
    background: #e4ffdd;
}

/* img {
   width:250px;
    height: auto;
    position: relative;
    top: -205px;
  left: 470px
}
*/

header {
	height: 120px;
}


header h1 {
	float: left;
	margin-top: 32px;

}


header nav {
float: right;
}

header nav ul li {
float: left;
display: inline-block;
margin-top: 30px;
}

header nav ul li a {
color: black;
text-transform: uppercase;
font-weight: bold;
display: block;
margin-right: 20px;
}

#features ul {
	margin: 80px 0;
}

#features ul li {
	display: block;
	margin-left: auto;
    margin-right: auto;
	color: black; 
	width: 500px;
	border-bottom: 1px solid black;
	padding: 10px 10px 15px 15px;
}

#footer-info {
	width: 380px;
	float: left;
	margin-top: 10px;
}

#footer-links {
	width: 520px;
	float: left;
}


#footer-links ul li {
	margin-right: 20px;
	display: inline-block;
	float: left;
}