// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1
{
size: 32px;
color: black;
text-align: center;
float: center;
}

h1.title{
	font-family: "COPPERPLATE", Fantasy;
	border-style: solid;
	background-color: white;
	font-size: 350%;
}

header {
	margin-bottom: 5cm;
	border-style: hidden;
	background-color: #90EE90
	border-bottom-width: 50px;
}

img{
	height: 202px;
    width: 28%;
}


h3
{
    size: 22px;
    color: #367500;
    margin-bottom: -10px;
    padding-bottom: -10px;
}

h2{
	text-align: center;
	margin-right: 100px;
}

#comments h2 {
	text-align: left;
}

body
{
    background: #e4ffdd;
}

header {
	height: 120px;
}


header h1 {
	margin-top: 32px;

}

nav {
	float: left;
	margin-top: -100px;
	border-style: solid;
	border-radius: 10px;
	background-color: white;
}


#features ul {
	margin: 300px 0px;
	margin-bottom: 5cm;
}

#features ul li {
	display: block;
	margin-left: auto;
    margin-right: auto;
	color: black; 
	width: 500px;
	border-bottom: 1px solid black;
	padding: 10px 10px 15px 15px;
	border-style: solid;
	border-radius: 2px;
	background-color: white;
	border-width: 2px 1px 2px 1px;
}

#footer-info {
	width: 380px;
	float: left;
	margin-top: 10px;
}

#footer-links {
	width: 520px;
	float: left;
}


#footer-links ul li {
	margin-right: 20px;
	display: inline-block;
	float: left;
}